<%- partial('_partial/bg-cover') %>
<script src="<%- theme.jsDelivr.url1 %>/js/konami.js"></script>
<script src="<%- theme.jsDelivr.url1 %>/js/cd.js"></script>
<main class="content">
    <div id="others" class="container chip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align">
                    </i>&nbsp;&nbsp;<%= __('others') %>
                </div>
                <%- page.content %>
            </div>
        </div>
    </div>
</main>